.header{
    padding: 3em 0;
    background-color: rgb(253, 249, 249);
    display: flex;
    gap: 1.2em;
    border-radius: 8px;
    box-shadow: 0 0 3px rgb(144, 143, 143);
    margin-bottom: 1em;
}
.btn_create{
    outline: none;
    border: none;
    position: fixed;
    bottom: 1em;
    right: 1em;
    font-size: 1.5em;
    background-color: rgb(253, 249, 249);
    color: hsl(166, 88%, 48%);
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 3px grey;
    cursor: pointer;
    transition: all .8s;
}
.btn_create:hover{
    background-color: hsl(166, 88%, 48%);
    color: rgb(253, 249, 249);
}
.btnActions{
    outline: none;
    border: none;
    background-color: rgb(253, 249, 249);
    color: hsl(166, 88%, 48%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerTable{
    font-size: 1.4em;
    padding: 1em 0;
    background-color: rgb(253, 249, 249);
    color: hsl(166, 88%, 48%);
    border: .5px solid rgb(186, 186, 186);
    border-bottom: 2px solid rgb(154, 154, 154);
    margin: auto;
}
span.p-column-title{
    text-align: center;
    margin: auto;
    font-weight: bold;
}
.header input{
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(154, 154, 154);
    border-radius: 7px;
    padding-left: .6em;
}
.column{
    text-align: center;
    border-bottom: 2px solid;
    border: .5px solid rgb(186, 186, 186);
}
tr{
    transition: all 1.2s;
}
tr:hover{
    background: rgb(238, 233, 233);
}


/* TODO Modal Styles */
.Modal{
    display: flex;
    flex-direction: column;
    gap: .3em;
}
.Modal h2{
    color: hsl(166, 88%, 48%);
}
.Modal input{
    outline: none;
    border: none;
    border-bottom: 1px solid hsl(166, 88%, 48%);
    border-radius: 5px;
    font-size: 1.2em;
    padding-left: .5em;
    padding-top: .3em;
    padding-bottom: .3em;
}

.btn_modal{
    width: fit-content;
    margin: auto;
    outline: none;
    border: none;
    font-size: 1.5em;
    background-color: rgb(253, 249, 249);
    color: hsl(166, 88%, 48%);
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 3px grey;
    cursor: pointer;
    transition: all .8s;
}
.btn_modal:hover{
    background-color: hsl(166, 88%, 48%);
    color: rgb(253, 249, 249);
}
.btnCardAdd{
    width: fit-content;
    margin: auto;
    outline: none;
    border: none;
    font-size: 1.5em;
    background-color: rgb(253, 249, 249);
    color: hsl(166, 88%, 48%);
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 3px grey;
    cursor: pointer;
    transition: all .8s;
    padding: .2em .2em;
    margin: .2em 0;
}

/* TODO Styles Carrito */

.cart{
    background-color: rgba(253, 249, 249, 0.677);
    box-shadow: 0 0 6px gray;
    border-radius: 0 20px 20px 0;
    width: 650px;
    height: 80vh;
    padding: 1em 1em;
    backdrop-filter: blur(4px);
    z-index: 100;
}
.card_visible{
    position: fixed;
    bottom: 0;
    left: 0;
    animation: openAnimation ease-in-out 1s;
}

@keyframes openAnimation {
    0%{
        bottom: 0;
        left: -100%;
    }
    100%{
        bottom: 0;
        left: 0;
    }
}

.card_hidden{
    position: fixed;
    bottom: 0;
    left: -100%;
    animation: closeAnimation ease-in-out 1s;
}

@keyframes closeAnimation {
    0%{
        bottom: 0;
        left: 0;
    }
    100%{
        bottom: 0;
        left: -100%;
    }
}

.btnOpenCart{
    position: fixed;
    left: .8em;
    bottom: .8em;
    cursor: pointer;
    color: hsl(166, 88%, 48%);
    border-radius: 50%;
    box-shadow: 0 0 3px grey;
    background-color: white;
    padding: .1em .1em;
    font-size: 2.3em;
    transition: all .7s;
    z-index: 50;
}

.btnOpenCart:hover{
    background-color: hsl(166, 88%, 48%);
    color: rgb(253, 249, 249);
}

.btnCloseCart{
    cursor: pointer;
    position: absolute;
    top: .8em;
    right: .8em;
    font-size: 1.8em;
    color: hsl(166, 88%, 48%);
}

.btnFactura{
    position: absolute;
    bottom: 1em;
    cursor: pointer;
    color: hsl(166, 88%, 48%);
    border-radius: 12px;
    box-shadow: 0 0 3px grey;
    border: 1px solid;
    padding: .1em .1em;
    font-size: 1.2em;
    font-weight: bold;
    transition: all .7s;
}

.btnFactura:hover{
    background-color: hsl(166, 88%, 48%);
    color: rgb(253, 249, 249);
}

.cartOptions{
    position: absolute;
    bottom: 3.5em;
    font-weight: bold;
    display: flex;
    gap: .6em;
}
.cardUl{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 85%;
    gap: .4em;
}

.cartContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    border-bottom: 2px solid #ccc;
}
.cartContainer div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3em;
}