$primary: #08c0dd;
$primary-hover: #0cc9eb;

//text
$text-light: #fff;

//background
$background-dark: #001b35;
$background-grey: #f0f3f4;
$background-dark-web: #03529d;

//border
$border-grey: #aba8a8;

//status
$success: #52c41a;
$error: red;

//social color
$youtube: #cd201f;
$twitter: #1da1f2;
$facebook: #3b5998;
$linkedin: #0077b5; 



