$primary: #1890ff;
$primary-hover: #0280b3;

//text
$text-light: #fff;

//background
$background-dark: #001b35;
$background-grey: #f0f3f4;
$background-dark-web: #16212b;

//border
$border-grey: #808080;

//status
$success: #52c41a;
$error: #9f3a38;

//social color
$youtube: #cd201f;
$twitter: #1da1f2;
$facebook: #3b5998;
$linkedin: #0077b5; 



